// **************************************
// @Boton: boton
// **************************************

a {
  text-decoration: none;
  color: rgb(19, 19, 19);
  text-align: center;
  width: 100px;
  height: 30px;
  background-color: red;
  line-height: 1.9;
  border: 1px solid black;
  border-radius: 10px;
}

.boton__fixet{
  position: fixed;
  text-decoration: none;
  background-color: red;
  top: 50%;
  justify-self: end;
}